* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

h2+p::after {
  content: "";
  display: block;
  width: 95%;
  height: 3px;
  background-color: black;
  margin: 2em auto 0;
  padding: 0 3px;
}

#newsletter::before,
form::before {
  content: "";
  display: block;
  width: 95%;
  height: 2px;
  background-color: black;
  margin: 0 auto 2em;
  padding: 0;
  }

h1 {
  color: white;
  background-color: navy;
  text-align: center;
  font-size: 1.75em;
  margin-top: 0;
  padding: 1.25em 0;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 1.75em;
  margin-top: 1em;
}

p {
  text-align: center;
  color: rgba(0,0,0,.5);
  margin-bottom: 2px;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 24px;
  background: lightgray;
  border: none;
  border-radius: 4px;
  }

input:focus,
textarea:focus {
  background-color: lightgoldenrodyellow;
  border: 2px navy solid;
  transition-duration: .3s;
}

input[type="checkbox"],
input[type="radio"] {
  width: 24px;
  margin: 18px 0;
}

#newsletter_info label {
  padding: 1em 0;
  margin: 1em 0;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label{
  font-weight: 500;
}

label{
  color: rgba(0,0,0,.5);
}

fieldset {
  border: none;
}

legend {
  display: block;
  width: 100%;
  font-size: 1.5em;
  padding-bottom: 1em;
}

button {
  width: 95%;
  font-size: 1.75em;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: turquoise;
  padding: 12px 0;
  margin: 0 auto;
  display: block;
}

button:hover {
  background: rgb(46, 156, 145);
}

#copyright {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  font-style: italic;
}